@charset "UTF-8";

/* 폼과 내용을 가운데 정렬합니다 */
.content-main {
    text-align: center;
    margin: 0 auto;
    width: 60%; /* 필요에 따라 너비 조정 */
}

/* 전체 CSS */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.content-main {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.content-main h2 {
    text-align: center;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form ul li {
    margin-bottom: 20px;
    text-align: left; /* 입력 요소 정렬을 왼쪽으로 설정 */
}

label {
    display: block;
    margin-bottom: 5px;
    width: 120px; /* 라벨의 폭 조정 */
    text-align: right; /* 라벨 내용을 오른쪽 정렬 */
    line-height: 32px; /* 입력 요소의 높이와 맞춤 */
}

input[type="text"],
input[type="number"],
textarea,
input[type="file"],
input[type="date"] {
    width: calc(100% - 150px); /* 라벨 폭 제외한 나머지 너비 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px; /* 입력칸과 글자 사이 간격 조정 */
}

input[type="radio"] {
    margin-right: 10px; /* 간격 조정 */
    vertical-align: middle; /* 수직 정렬 */
    appearance: none; /* 기본 브라우저 스타일 제거 */
    -webkit-appearance: none; /* Safari 및 Chrome 용 */
    -moz-appearance: none; /* Firefox 용 */
}

input[type="radio"]::before {
    content: '';
    display: inline-block;
    width: 16px; /* 버튼 크기 조정 */
    height: 16px; /* 버튼 크기 조정 */
    border-radius: 50%; /* 원 형태로 만들기 */
    border: 2px solid #808080; /* 회색 테두리 */
    margin-right: 0px; /* 간격 조정 */
}

input[type="radio"]:checked::before {
    background-color: #808080; /* 체크된 버튼의 배경색을 회색으로 변경 */
}

/* 파일 선택 버튼 스타일 */
form ul li.label-file {
    text-align: center;
}

form ul li.input-file,
form ul li:nth-last-child(1),
form ul li:nth-last-child(2) {
    text-align: left;
}

form ul li.label-file input[type="file"] {
    display: block;
    margin: 10px auto; /* 가운데 정렬을 위한 margin 설정 */
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    width: calc(100% - 150px); /* 입력칸 너비 설정에 맞춰 조절 */
    max-width: 300px; /* 최대 너비 설정 */
}

input[type="submit"],
input[type="button"] {
    background-color: #666;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; /* 버튼과 입력칸 간격 조정 */
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #555;
}



