@charset "UTF-8";

.detail-sidemenu{
	margin-left:230px;
	margin-top: 50px;
}
.detail-page{
	width: 800px;
	position: absolute;
	margin-left: 400px;
}
.detail-content{
	margin-left:50px;
}
.detail-content h2{
	margin-top:50px;
}
.question-user > ul{
	text-align:right;
	padding:30px;
}
.detail-detailcontent p{
	padding: 30px;
}
.detail-detailcontent p{
	padding: 30px;
}
.detail-reply{
	margin: 20px;
}
[type="submit"], .detail-output [type="button"], .detail-content [type="button"] {
	font-weight: bold;
	box-shadow: none;
	border:1px solid;
	margin-top: 10px;
	background-color: white;
	color: gray;
	font-size: 8pt;
	padding: 5px 10px 5px 10px;
	border-radius: 10px 10px 10px 10px;
}
.detail-detailcontent [type="button"]{
	box-shadow: none;
	margin-bottom: 30px;
	padding: 15px 20px 15px 20px;
	border:none;
	font-weight: bold;
	background-color: #575656;
	color: white;
	font-size: 11pt;
	border-radius: 10px 10px 10px 10px;
}
.item{
	padding:2px;
}
.item h4{
	font-size: 12pt;
}
.item .sub-item{
	padding: 5px 5px 5px 10px;
}
.reply-right{
	text-align:right;
}
.detail-center{
	text-align:center;
}
.detail-right{
	text-align:right;
	padding:30px;
}
.detail-answer{
	margin:30px;
}
.detail-passwd{
	padding-top: 100px;
}
.detail-content > h1{
	padding: 50px 0px 30px 0px;
}
.question-answer, .question-user{
	padding-left:20px;
	border: 1px solid;
}
.rep-content{
	width:700px;
	height:50px
}

/*-------수정폼-------*/
.form-title{
	font-size: 15pt;
	font-weight: bold;
	margin: 0 0 20px 0;
}
.input-form li{
	margin: 20px;
}
li label{
	font-weight: bold;
	font-size: 14px;
	display:inline-block;
	text-align:left;
	width:150px;
}
.file-right{
	text-align: right;
	margin-right: 40px;
}
[type="text"], [type="number"],[type="password"]{
	width:500px;
	border-width: 0 0 1px 0;
}
[type="radio"]:checked {
	border: 0.4em solid black;
}
[type="date"]{
	width:250px;
	border-width: 0 0 1px 0;
}
textarea{
	width:500px;
	height:300px;
}
input[type=radio]{
	appearance: none;
	border: max(2px, 0.1em) solid gray;
	border-radius: 50%;
	width: 1.25em;
	height: 1.25em;
	transition: border 0.5s ease-in-out;
}